.home-view-message {
  margin: 70px 0 20px;
  font-weight: 300;
  font-size: 50px;
}

.home-view-welcome {
  font-weight: 300;
  font-size: 20px;
  /*color: rgb(130, 130, 140);*/
  margin-bottom: 45px;
}

.home-view-instruction {
  font-weight: 300;
  font-size: 16px;
  margin: 10px 0;
  color: black;
}

.home-view-instruction .instruction-highlight {
  font-size: 23px;
  color: rgb(70, 130, 210);
}

.instruction-highlight a:hover {
  color: black;
}

.quote {
  font-size: 28px;
  width: 416px;
  margin: auto;
  color: gray;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
}

blockquote {
  background: rgba(237,241,242 ,1)
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}