

video#webcam {
  max-height: 80%;
  height: 80%;
  width: 100%;
}

#current-snapshot {
  right: 0;
  position: absolute;
  width: 20%;
  height: 20%;
}

.record-box, .record-form {
  position: relative;
}

.pure-button-error {
    background: rgb(202, 60, 60);
    color: white;
}

p {
  text-align: center;
}

.record-instructions {
  border: 1px solid gray;
  border-radius: 10px;
  padding-bottom: 10px;
  height: 200px;
}

button .question-button {
  border: 3px  solid #27ae60;
  border-radius: 6px;
  width: 400px;
  color: #27ae60;
  font-weight: bold;
  background-color: #ecf0f1;
  margin-bottom: 50px;
}

button .stop-button {
  border: 3px  solid #27ae60;
  border-radius: 6px;
  width: 100px;
  color: #27ae60;
  font-weight: bold;
  background-color: #ecf0f1;
  margin-bottom: 50px;
}

.emphasis {
  font-size: 14px;
  font-weight: bold;
}