doctype html
html

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Project Description.')
    meta(name='author', content='jackrzhang')

    title Masterfully
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js')
    script(src='https://use.fontawesome.com/58b7b2dce7.js')

   

    // Favicon
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')

    // Base Styles
    link(rel='stylesheet', href='style/pure-min.css')
    link(rel='stylesheet', href='style/base.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic'. type='text/css')

    // Custom Styles
    block styles

    // External Dependencies
    script(src='bower/jquery/dist/jquery.min.js')
    script(src='nprogress.js')
    link(rel='stylesheet', href='nprogress.css')
    
    block head-scripts

  body

    block content
      

    block body-scripts