extends ./base

block styles
  link(rel='stylesheet', href='style/login.css')

block content
  video.bgvid(autoplay, loop)
    source(src="images/Coverr-lamp.webm" type="video/webm")
    source(src="images/Coverr-lamp.mp4" type="video/mp4")

  div.login-container
    h1.title masterfully
    div.login-form
      form(method='POST', action='/login')
        div.login-form-input.username
          input(type='email', name='email', placeholder="Email" required)
        div.login-form-input.password
          input(type='password', name='password', placeholder="Password" required)
        button.login-button Log in

    div.signup-link-container
      a.signup-link(href='/signup') Sign up