extends ./base

block styles
  link(rel='stylesheet', href='style/welcome.css')

block content
  video.bgvid(autoplay, loop)
    source(src="images/Coverr-lamp.webm" type="video/webm")
    source(src="images/Coverr-lamp.mp4" type="video/mp4")

  div.welcome-container
    h1.title Masterfully
    h4.subtitle 
    div.button-container
      a.pure-button.start-button(href='login') Get started
